::ng-deep {
  .carousel-item {
    width: 100vw;
    height: 100vh;
  }
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

article {
  position: absolute;
  top: 10%;
  right: 7%;
  bottom: 10%;
  left: 7%;
}
