<ngb-carousel [interval]="0" [showNavigationIndicators]="false">
  <ng-template *ngFor="let slide of slides$ | async" ngbSlide>
    <img [src]="slide.image" [alt]="slide.title">
    <article>
      <h1>{{ slide.title }}</h1>
      <p>{{ slide.description }}</p>
    </article>
  </ng-template>
</ngb-carousel>
